.weatherWrapper {
    display: flex;
    flex-direction: column;
    
    margin-top:auto;
    margin-bottom: auto;
    height: inherit;
    &>.title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-top: 15px;
        text-align: center;
    }
    & .inputs{
        display: flex;
        gap:15px;
        flex-wrap: wrap;
        justify-content: center;
    }
    > canvas{
        background-color: white;
    }
}