body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  gap: 5px;
  & input{
    transition: all 0.2s ease;
    border: 1px solid #A4ACC0;
    padding: 5px;
    border-radius: 2px;
    outline: none;
    width: max-content;
  }
}

.homePage{
  display: flex;
  justify-content: center;
  align-items: center;
  & img{
    width: fit-content;
    
  }
}