.topMenu {
    display: flex;

    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    & > .wrapper{
        display: flex;
        align-items: center;
        width: 100%;
    }
    & a {
        transition: all 0.2s ease;
        
        &.Mui-selected{
            background-color: white;
        }

    }


}